@{
    Layout = "~/Views/Shared/_layoutcustomer.cshtml";
}

    <!-- Page Header Section breadcumb Start Here -->
    <div class="page-header-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="header-page">
                        <h2>About Us</h2>
                        <ul>
                            <li> <a href="@Url.Action("Indexcustomer","")">Home</a> </li>
                            <li>About </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header Section breadcumb End Here -->
    <!-- about me area start here -->
    <div class="aboutme-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="aboutme-img">
                        <a href="#"><img src="~/content/customer/images/about/man1.png" alt="man"></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="aboutme-content">
                        <div class="my-info">
                            <div class="my-name">
                                <h3>About E-WORKERS</h3>
                                <p>Online Office and Digital Plateform</p>
                            </div>
                            <p> Our mission to create economic opportunities so people have better lives has taken us so much further.If you’re a client that’s come here to get things done, use this workforce of independent  talent to build faster and transform your business. If you’re independent talent that’s come here to realize your potential, know that you are a valuable and instrumental part of someone’s team.</p>  <div class="more-info">
                                                                                                                                                                                                                                                                                                                                                                                                                                             <p>We see your vision, and everything we do is an effort to help you make the connections that will turn that vision into reality, by building your Virtual Talent Bench of trusted people.  </p>
                            </div>
                            <div class="social-share">

                                <h4>Our Social Media :</h4>

                                <ul class="list-inline">

                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>

                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>

                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>

                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>

                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>

                                    <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>

                                </ul>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about me area end here -->
    <!-- my skill start here  -->
    <div class="my-skill">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="skill-content">
                        <h2>Our Skill</h2>
                        <p>
                            By joining our plateform you will be able to do following things Teamwork,Problem-solving,Time management,Stress management,Productivity & organization,Emotional intelligence and Conflict management


                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="progress-skill">
                        <div class="single-skill">
                            <div class="progress-title">
                                <h5>Happy Clients</h5>
                            </div>
                            <div id="bar6" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="95"></span>
                            </div>
                        </div>
                        <div class="single-skill">
                            <div class="progress-title">
                                <h5>Job Sucess</h5>
                            </div>
                            <div id="bar7" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="95"></span>
                            </div>
                        </div>
                        <div class="single-skill">
                            <div class="progress-title">
                                <h5>Problem Solving</h5>
                            </div>
                            <div id="bar8" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="90"></span>
                            </div>
                        </div>
                        <div class="single-skill">
                            <div class="progress-title">
                                <h5>Project Rating</h5>
                            </div>
                            <div id="bar9" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="80"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- my skill end here  -->
    <!-- contact-me-area start here -->
    <div class="contact-me-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="single-box">
                        <i class="fa fa-phone-square" aria-hidden="true"></i>
                        <span><a href="tel:+1-999-999-9999">+1-999-999-9999</a></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="single-box">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span><a href="mailto:email@gmail.com">email@gmail.com</a> </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="single-box">
                        <i class="fa fa-compass" aria-hidden="true"></i>
                        <span>1234 Fake Road, Your City, USA.</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="single-box">
                        <i class="fa fa-skype" aria-hidden="true"></i>
                        <span> fake.skype</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact-me-area end here -->
    <!-- testimonial-area start here -->
    <div class="testimonial-area">
        <div class="container">
            <div class="slide-list">
                <div class="single-testimonial">
                    <div class="testimonial-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam hic inventore animi repudiandae voluptatibus reiciendis. Eius, veritatis nisi at rem, quas corrupti blanditiis. Est, consectetur voluptate repudiandae corporis asperiores necessitatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <div class="cling-img">
                            <a href="#"><img src="~/content/customer/images/member/1.jpg" alt="clint img"></a>
                        </div>
                        <div class="clint-name">
                            <h3><a href="#">Robart mark </a><span>board of director</span></h3>
                        </div>
                    </div>
                </div>
                <div class="single-testimonial">
                    <div class="testimonial-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam hic inventore animi repudiandae voluptatibus reiciendis. Eius, veritatis nisi at rem, quas corrupti blanditiis. Est, consectetur voluptate repudiandae corporis asperiores necessitatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <div class="cling-img">
                            <a href="#"><img src="~/content/customer/images/member/2.jpg" alt="clint img"></a>
                        </div>
                        <div class="clint-name">
                            <h3><a href="#">sarah jahan </a><span>board of director</span></h3>
                        </div>
                    </div>
                </div>
                <div class="single-testimonial">
                    <div class="testimonial-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam hic inventore animi repudiandae voluptatibus reiciendis. Eius, veritatis nisi at rem, quas corrupti blanditiis. Est, consectetur voluptate repudiandae corporis asperiores necessitatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <div class="cling-img">
                            <a href="#"><img src="~/content/customer/images/member/3.jpg" alt="clint img"></a>
                        </div>
                        <div class="clint-name">
                            <h3><a href="#">johan mark</a><span>board of director</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonial-area end here -->
    <!-- follow area start here  -->
    <div class="followme-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <h3>Follow Us</h3>
                    <div class="social-list">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- follow area end here  -->
   