@{
    Layout = "~/Views/Shared/_layoutcustomer.cshtml";
}
<!-- slider area-->
<div class="slider-area">
    <div class="bend niceties preview-2">
        <div id="ensign-nivoslider" class="slides">
            <img src="~/content/customer/images/slider/1.jpg" alt="" title="#slider-direction-1" />
            <img src="~/content/customer/images/slider/1.jpg" alt="" title="#slider-direction-2" />
            <img src="~/content/customer/images/slider/1.jpg" alt="" title="#slider-direction-3" />
        </div>
        <!-- direction 1 -->
        <div id="slider-direction-1" class="t-cn slider-direction">
            <div class="slider-progress"></div>
            <div class="slider-content t-cn s-tb slider-1">
                <div class="title-container s-tb-c title-compress">
                    <h1>What is E-WORKERS</h1>
                    <p>Choose a Job you have, and You will never have to work a day in your life. </p>
                    <div class="slider-button">
                        <ul>
                            <li class="active"><a href="#">ContacT Us</a></li>
                            <li><a href="#">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- direction 2 -->
        <div id="slider-direction-2" class="slider-direction">
            <div class="slider-progress"></div>
            <div class="slider-content t-lfl s-tb slider-2">
                <div class="title-container s-tb-c">
                    <h1>Best Website</h1>
                    <p>We look Forward To Getting to know you and to helipng you take your business to new heights!</p>
                    <div class="slider-button">
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- direction 3 -->
        <div id="slider-direction-3" class="slider-direction">
            <div class="slider-progress"></div>
            <div class="slider-content t-lfr s-tb slider-3">
                <div class="title-container s-tb-c">
                    <h1>E-WORKERS Corporate Member</h1>
                    <p> Hard Work Beats Talent When Talent Doesn't Work Hard. Work Work and WORk We are not Bound to success </p>
                    <div class="slider-button">
                        <ul>
                            <li><a href="#">Read More</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider end-->
<!-- service-area start hear-->
<section>
    <div class="service-area">
        <div class="container">
            <div class="row">
                <div class="service-slide">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="single-service">
                            <div class="service-icon">
                                <i class="flaticon-windows"></i>
                            </div>
                            <div class="service-title">
                                <h4><a href="#">Browser Compatibility</a></h4>
                            </div>
                            <div class="service-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duo Reges: constructio interrete. Id est enim, de quo quaerimus. Poterat autem inpune; Tu autem negas fortem esse quemquam posse.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="single-service">
                            <div class="service-icon">
                                <i class="flaticon-line-chart"></i>
                            </div>
                            <div class="service-title">
                                <h4><a href="#">Growing Business</a></h4>
                            </div>
                            <div class="service-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duo Reges: constructio interrete. Id est enim, de quo quaerimus. Poterat autem inpune; Tu autem negas fortem esse quemquam posse.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="single-service">
                            <div class="service-icon">
                                <i class="flaticon-responsive-design-symbol"></i>
                            </div>
                            <div class="service-title">
                                <h4><a href="#">Resposcive Design</a></h4>
                            </div>
                            <div class="service-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duo Reges: constructio interrete. Id est enim, de quo quaerimus. Poterat autem inpune; Tu autem negas fortem esse quemquam posse.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="single-service">
                            <div class="service-icon">
                                <i class="flaticon-windows"></i>
                            </div>
                            <div class="service-title">
                                <h4><a href="#">Browser Compatibility</a></h4>
                            </div>
                            <div class="service-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duo Reges: constructio interrete. Id est enim, de quo quaerimus. Poterat autem inpune; Tu autem negas fortem esse quemquam posse.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="single-service">
                            <div class="service-icon">
                                <i class="flaticon-line-chart"></i>
                            </div>
                            <div class="service-title">
                                <h4><a href="#">Growing Business</a></h4>
                            </div>
                            <div class="service-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duo Reges: constructio interrete. Id est enim, de quo quaerimus. Poterat autem inpune; Tu autem negas fortem esse quemquam posse.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="single-service">
                            <div class="service-icon">
                                <i class="flaticon-responsive-design-symbol"></i>
                            </div>
                            <div class="service-title">
                                <h4><a href="#">Resposcive Design</a></h4>
                            </div>
                            <div class="service-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duo Reges: constructio interrete. Id est enim, de quo quaerimus. Poterat autem inpune; Tu autem negas fortem esse quemquam posse.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-area end hear-->
<!-- about-area start hear -->
<section id="about">
    <div class="about-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title text-center">
                        <div class="sub-title">
                            <h4>To Know About E-WORKERS </h4>
                        </div>
                        <h2>About <span>US</span></h2>
                        <img src="~/content/customer/images/shaparator.png" alt="shaparator">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <div class="about-img span3 wow bounceInLeft" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: bounceInLeft;">
                        <img src="~/content/customer/images/about/man.png" alt="man">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-lg-offest-1 col-md-offset-1 col-sm-7 col-xs-12">
                    <div class="about-content">
                        <h2>We Are Digital Agency</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim explicari, quod quaeritur, non potest. Ut id aliis narrare gestiant? Consequatur summas voluptates non modo parvo, sed per me nihilo, si potest.</p>
                    </div>
                    <div class="accrodent-area">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <i class="flaticon-line-chart"></i> Growing Business
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Partim cursu et peragratione laetantur, congregatione aliae coetum quodam modo civitatis imitantur; Sed virtutem ipsam inchoavit, nihil amplius. Duo Reges: constructio interrete. Ille enim occurrentia nescio quae comminiscebatur.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                            <i class="flaticon-responsive-design-symbol"></i> ResponSive Design
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Partim cursu et peragratione laetantur, congregatione aliae coetum quodam modo civitatis imitantur; Sed virtutem ipsam inchoavit, nihil amplius. Duo Reges: constructio interrete. Ille enim occurrentia nescio quae comminiscebatur.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                            <i class="flaticon-wordpress-logo"></i> Wordpress CMS
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Partim cursu et peragratione laetantur, congregatione aliae coetum quodam modo civitatis imitantur; Sed virtutem ipsam inchoavit, nihil amplius. Duo Reges: constructio interrete. Ille enim occurrentia nescio quae comminiscebatur.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingfour">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="true" aria-controls="collapsefour">
                                            <i class="flaticon-plus"></i> Websites convert
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapsefour" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingfour">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Partim cursu et peragratione laetantur, congregatione aliae coetum quodam modo civitatis imitantur; Sed virtutem ipsam inchoavit, nihil amplius. Duo Reges: constructio interrete. Ille enim occurrentia nescio quae comminiscebatur.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-area end hear -->
<!-- clint review area start hear -->
<section>
    <div class="clintreview-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title text-center">
                        <div class="sub-title">
                            <h4>Check Up Client’s Review</h4>
                        </div>
                        <h2>Client’s <span>Review</span></h2>
                        <img src="~/content/customer/images/shaparator.png" alt="shaparator">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="slide-review">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="left-side">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="single-review">
                                            <div class="review-heading">
                                                <div class="review-img">
                                                    <a href="#"><img src="~/content/customer/images/review/1.png" alt="revicw"></a>
                                                </div>
                                                <div class="clint-name">
                                                    <h4><a href="#">Sowat Ahsan </a> <span>CEO, Lit</span></h4>
                                                </div>
                                            </div>
                                            <div class="review-icon">
                                                <ul>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                            <div class="review-content">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cupit enim dícere nihil posse ad beatam vitam deesse sapienti. Tenent mordicus. Quae diligentissime contra Aristonem dicuntur a Chryippo. Isto modo ne improbos quidem, si essent boni viri. Teneo, inquit, finem illi videri nihil dolere.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="single-review">
                                            <div class="review-heading">
                                                <div class="review-img">
                                                    <a href="#"><img src="~/content/customer/images/review/2.png" alt="revicw"></a>
                                                </div>
                                                <div class="clint-name">
                                                    <h4><a href="#">Sowat Ahsan </a> <span>CEO, Lit</span></h4>
                                                </div>
                                            </div>
                                            <div class="review-icon">
                                                <ul>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                            <div class="review-content">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cupit enim dícere nihil posse ad beatam vitam deesse sapienti. Tenent mordicus. Quae diligentissime contra Aristonem dicuntur a Chryippo. Isto modo ne improbos quidem, si essent boni viri. Teneo, inquit, finem illi videri nihil dolere.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="right-side">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="single-review">
                                            <div class="review-heading">
                                                <div class="review-img">
                                                    <a href="#"><img src="~/content/customer/images/review/3.png" alt="revicw"></a>
                                                </div>
                                                <div class="clint-name">
                                                    <h4><a href="#">Sowat Ahsan </a> <span>CEO, Lit</span></h4>
                                                </div>
                                            </div>
                                            <div class="review-icon">
                                                <ul>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                            <div class="review-content">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cupit enim dícere nihil posse ad beatam vitam deesse sapienti. Tenent mordicus. Quae diligentissime contra Aristonem dicuntur a Chryippo. Isto modo ne improbos quidem, si essent boni viri. Teneo, inquit, finem illi videri nihil dolere.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="single-review">
                                            <div class="review-heading">
                                                <div class="review-img">
                                                    <a href="#"><img src="~/content/customer/images/review/4.png" alt="revicw"></a>
                                                </div>
                                                <div class="clint-name">
                                                    <h4><a href="#">Sowat Ahsan </a> <span>CEO, Lit</span></h4>
                                                </div>
                                            </div>
                                            <div class="review-icon">
                                                <ul>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                            <div class="review-content">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cupit enim dícere nihil posse ad beatam vitam deesse sapienti. Tenent mordicus. Quae diligentissime contra Aristonem dicuntur a Chryippo. Isto modo ne improbos quidem, si essent boni viri. Teneo, inquit, finem illi videri nihil dolere.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="left-side">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="single-review">
                                            <div class="review-heading">
                                                <div class="review-img">
                                                    <a href="#"><img src="~/content/customer/images/review/1.png" alt="revicw"></a>
                                                </div>
                                                <div class="clint-name">
                                                    <h4><a href="#">Sowat Ahsan </a> <span>CEO, Lit</span></h4>
                                                </div>
                                            </div>
                                            <div class="review-icon">
                                                <ul>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                            <div class="review-content">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cupit enim dícere nihil posse ad beatam vitam deesse sapienti. Tenent mordicus. Quae diligentissime contra Aristonem dicuntur a Chryippo. Isto modo ne improbos quidem, si essent boni viri. Teneo, inquit, finem illi videri nihil dolere.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="single-review">
                                            <div class="review-heading">
                                                <div class="review-img">
                                                    <a href="#"><img src="~/content/customer/images/review/2.png" alt="revicw"></a>
                                                </div>
                                                <div class="clint-name">
                                                    <h4><a href="#">Sowat Ahsan </a> <span>CEO, Lit</span></h4>
                                                </div>
                                            </div>
                                            <div class="review-icon">
                                                <ul>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                            <div class="review-content">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cupit enim dícere nihil posse ad beatam vitam deesse sapienti. Tenent mordicus. Quae diligentissime contra Aristonem dicuntur a Chryippo. Isto modo ne improbos quidem, si essent boni viri. Teneo, inquit, finem illi videri nihil dolere.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="right-side">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="single-review">
                                            <div class="review-heading">
                                                <div class="review-img">
                                                    <a href="#"><img src="~/content/customer/images/review/3.png" alt="revicw"></a>
                                                </div>
                                                <div class="clint-name">
                                                    <h4><a href="#">Sowat Ahsan </a> <span>CEO, Lit</span></h4>
                                                </div>
                                            </div>
                                            <div class="review-icon">
                                                <ul>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                            <div class="review-content">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cupit enim dícere nihil posse ad beatam vitam deesse sapienti. Tenent mordicus. Quae diligentissime contra Aristonem dicuntur a Chryippo. Isto modo ne improbos quidem, si essent boni viri. Teneo, inquit, finem illi videri nihil dolere.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="single-review">
                                            <div class="review-heading">
                                                <div class="review-img">
                                                    <a href="#"><img src="~/content/customer/images/review/4.png" alt="revicw"></a>
                                                </div>
                                                <div class="clint-name">
                                                    <h4><a href="#">Sowat Ahsan </a> <span>CEO, Lit</span></h4>
                                                </div>
                                            </div>
                                            <div class="review-icon">
                                                <ul>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                            <div class="review-content">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cupit enim dícere nihil posse ad beatam vitam deesse sapienti. Tenent mordicus. Quae diligentissime contra Aristonem dicuntur a Chryippo. Isto modo ne improbos quidem, si essent boni viri. Teneo, inquit, finem illi videri nihil dolere.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="left-side">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="single-review">
                                            <div class="review-heading">
                                                <div class="review-img">
                                                    <a href="#"><img src="~/content/customer/images/review/1.png" alt="revicw"></a>
                                                </div>
                                                <div class="clint-name">
                                                    <h4><a href="#">Sowat Ahsan </a> <span>CEO, Lit</span></h4>
                                                </div>
                                            </div>
                                            <div class="review-icon">
                                                <ul>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                            <div class="review-content">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cupit enim dícere nihil posse ad beatam vitam deesse sapienti. Tenent mordicus. Quae diligentissime contra Aristonem dicuntur a Chryippo. Isto modo ne improbos quidem, si essent boni viri. Teneo, inquit, finem illi videri nihil dolere.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="single-review">
                                            <div class="review-heading">
                                                <div class="review-img">
                                                    <a href="#"><img src="~/content/customer/images/review/2.png" alt="revicw"></a>
                                                </div>
                                                <div class="clint-name">
                                                    <h4><a href="#">Sowat Ahsan </a> <span>CEO, Lit</span></h4>
                                                </div>
                                            </div>
                                            <div class="review-icon">
                                                <ul>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                            <div class="review-content">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cupit enim dícere nihil posse ad beatam vitam deesse sapienti. Tenent mordicus. Quae diligentissime contra Aristonem dicuntur a Chryippo. Isto modo ne improbos quidem, si essent boni viri. Teneo, inquit, finem illi videri nihil dolere.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="right-side">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="single-review">
                                            <div class="review-heading">
                                                <div class="review-img">
                                                    <a href="#"><img src="~/content/customer/images/review/3.png" alt="revicw"></a>
                                                </div>
                                                <div class="clint-name">
                                                    <h4><a href="#">Sowat Ahsan </a> <span>CEO, Lit</span></h4>
                                                </div>
                                            </div>
                                            <div class="review-icon">
                                                <ul>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                            <div class="review-content">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cupit enim dícere nihil posse ad beatam vitam deesse sapienti. Tenent mordicus. Quae diligentissime contra Aristonem dicuntur a Chryippo. Isto modo ne improbos quidem, si essent boni viri. Teneo, inquit, finem illi videri nihil dolere.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="single-review">
                                            <div class="review-heading">
                                                <div class="review-img">
                                                    <a href="#"><img src="~/content/customer/images/review/4.png" alt="revicw"></a>
                                                </div>
                                                <div class="clint-name">
                                                    <h4><a href="#">Sowat Ahsan </a> <span>CEO, Lit</span></h4>
                                                </div>
                                            </div>
                                            <div class="review-icon">
                                                <ul>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                    <li><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                            <div class="review-content">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cupit enim dícere nihil posse ad beatam vitam deesse sapienti. Tenent mordicus. Quae diligentissime contra Aristonem dicuntur a Chryippo. Isto modo ne improbos quidem, si essent boni viri. Teneo, inquit, finem illi videri nihil dolere.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- clint review area end hear -->
<!-- let theme area start hear  -->
<section>
    <div class="lettheme-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <div class="theme-slide">
                        <div class="single-theme">
                            <div class="theme-content">
                                <h2>Let Them To Know Why We Are The Best</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Philosophi autem in suis lectulis plerumque moriuntur.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Philosophi autem in suis lectulis plerumque moriuntur. Ille vero, si insipiens-quo certe, quoniam tyrannus -, numquam beatus; Varietates autem iniurasque fortunae facile veteres philosophorum praeceptis instituta vita superabat.</p>
                                <a href="#" class="btn">Contact US</a>
                            </div>
                        </div>
                        <div class="single-theme">
                            <div class="theme-content">
                                <h2>Let Them To Know Why We Are The Best</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Philosophi autem in suis lectulis plerumque moriuntur.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Philosophi autem in suis lectulis plerumque moriuntur. Ille vero, si insipiens-quo certe, quoniam tyrannus -, numquam beatus; Varietates autem iniurasque fortunae facile veteres philosophorum praeceptis instituta vita superabat.</p>
                                <a href="#" class="btn">Contact US</a>
                            </div>
                        </div>
                        <div class="single-theme">
                            <div class="theme-content">
                                <h2>Let Them To Know Why We Are The Best</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Philosophi autem in suis lectulis plerumque moriuntur.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Philosophi autem in suis lectulis plerumque moriuntur. Ille vero, si insipiens-quo certe, quoniam tyrannus -, numquam beatus; Varietates autem iniurasque fortunae facile veteres philosophorum praeceptis instituta vita superabat.</p>
                                <a href="#" class="btn">Contact US</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <div class="lettheme-img span3 wow bounceInRight" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: bounceInRight;">
                        <img src="~/content/customer/images/let-theme/man.png" alt="man">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- let theme area end hear  -->
<!-- awesome-service area start hear -->
<section id="service">
    <div class="awesome-service">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title text-center">
                        <div class="sub-title">
                            <h4>Discover Our Awesome Services</h4>
                        </div>
                        <h2>Awesome  <span>Services</span></h2>
                        <img src="~/content/customer/images/shaparator.png" alt="shaparator">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="flaticon-windows"></i>
                        </div>
                        <div class="service-title">
                            <h4><a href="#">Browser Compatibility</a></h4>
                        </div>
                        <div class="service-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duo Reges: constructio interrete. Id est enim, de quo quaerimus. Poterat autem inpune; Tu autem negas fortem esse quemquam posse.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="flaticon-line-chart"></i>
                        </div>
                        <div class="service-title">
                            <h4><a href="#">flaticon-plus</a></h4>
                        </div>
                        <div class="service-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duo Reges: constructio interrete. Id est enim, de quo quaerimus. Poterat autem inpune; Tu autem negas fortem esse quemquam posse.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="flaticon-responsive-design-symbol"></i>
                        </div>
                        <div class="service-title">
                            <h4><a href="#">Responsive Design</a></h4>
                        </div>
                        <div class="service-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duo Reges: constructio interrete. Id est enim, de quo quaerimus. Poterat autem inpune; Tu autem negas fortem esse quemquam posse.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="flaticon-wordpress-logo"></i>
                        </div>
                        <div class="service-title">
                            <h4><a href="#">Wordpress CMS</a></h4>
                        </div>
                        <div class="service-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duo Reges: constructio interrete. Id est enim, de quo quaerimus. Poterat autem inpune; Tu autem negas fortem esse quemquam posse.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="flaticon-plus"></i>
                        </div>
                        <div class="service-title">
                            <h4><a href="#">Websites Convert</a></h4>
                        </div>
                        <div class="service-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duo Reges: constructio interrete. Id est enim, de quo quaerimus. Poterat autem inpune; Tu autem negas fortem esse quemquam posse.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="flaticon-multimedia"></i>
                        </div>
                        <div class="service-title">
                            <h4><a href="#">SEO Services</a></h4>
                        </div>
                        <div class="service-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duo Reges: constructio interrete. Id est enim, de quo quaerimus. Poterat autem inpune; Tu autem negas fortem esse quemquam posse.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- awesome-service area end hear -->
<!-- business-area tart hear  -->
<section>
    <div class="business-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    <div class="business-content">
                        <h3>We Are Awesome Digital Agency to Enhance to Your Business</h3>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="business-btn">
                        <a href="#" class="btn">About US</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- business-area end hear  -->
<!-- progress area start hear -->
<section>
    <div class="progress-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title text-center">
                        <div class="sub-title">
                            <h4>We Have Good Progress</h4>
                        </div>
                        <h2>Working <span>Progress</span></h2>
                        <img src="~/content/customer/images/shaparator.png" alt="shaparator">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="progress-content">
                        <h3>Our Professional Skills</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quod autem meum munus dicis non equidem recuso, sed te adiungo socium. Duo Reges: constructio interrete. Itaque hic ipse iam pridem est reiectus; Quid, si etiam iucunda memoria est praeteritorum malorum.</p>
                        <p>Quod cum dixissent, ille contra. Etenim semper illud extra est, quod arte comprehenditur. Quid enim est a Chrysippo praetermissum in Stoicis? Atque his de rebus et splendida est eorum et illustris oratio. Quid ergo attinet gloriose loqui, nisi constanter loquare.</p>
                        <a href="#" class="btn">About Us</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="progress-skill">
                        <div class="single-skill">
                            <div class="progress-title">
                                <h5>Project Done</h5>
                            </div>
                            <div id="bar2" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="90"></span>
                            </div>
                        </div>
                        <div class="single-skill">
                            <div class="progress-title">
                                <h5>Happy Client’s</h5>
                            </div>
                            <div id="bar3" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="85"></span>
                            </div>
                        </div>
                        <div class="single-skill">
                            <div class="progress-title">
                                <h5>Poject Likes</h5>
                            </div>
                            <div id="bar4" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="95"></span>
                            </div>
                        </div>
                        <div class="single-skill">
                            <div class="progress-title">
                                <h5>Awarss</h5>
                            </div>
                            <div id="bar5" class="barfiller">
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                                <span class="fill" data-percentage="70"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- progress area end hear -->
<!-- member area start here -->
<div class="member-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="section-heading">
                    <h2>Awesome Member</h2>
                    <p>Let’s Intro Our Team</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="member-list">
                <div class="single-member">
                    <div class="member-img">
                        <a href="#"> <img src="~/content/customer/images/member/1.jpg" alt="member"></a>
                        <div class="member-content">
                            <div class="member-info">
                                <div class="title">
                                    <h3><a href="#">about me</a><span>UX Designer</span></h3>
                                </div>
                                <p>Lorem ipsum dolor text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since theypesetting industry.</p>
                                <div class="member-social">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="member-name">
                        <h3><a href="#">Auston Brown</a> <span>UX Designer</span></h3>
                    </div>
                </div>
                <div class="single-member">
                    <div class="member-img">
                        <a href="#"> <img src="~/content/customer/images/member/2.jpg" alt="member"></a>
                        <div class="member-content">
                            <div class="member-info">
                                <div class="title">
                                    <h3><a href="#">about me</a><span>UX Designer</span></h3>
                                </div>
                                <p>Lorem ipsum dolor text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since theypesetting industry.</p>
                                <div class="member-social">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="member-name">
                        <h3><a href="#">Jhon Smith</a> <span>UX Designer</span></h3>
                    </div>
                </div>
                <div class="single-member">
                    <div class="member-img">
                        <a href="#"> <img src="~/content/customer/images/member/3.jpg" alt="member"></a>
                        <div class="member-content">
                            <div class="member-info">
                                <div class="title">
                                    <h3><a href="#">about me</a><span>UX Designer</span></h3>
                                </div>
                                <p>Lorem ipsum dolor text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since theypesetting industry.</p>
                                <div class="member-social">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="member-name">
                        <h3><a href="#">Rober Mark</a> <span>UX Designer</span></h3>
                    </div>
                </div>
                <div class="single-member">
                    <div class="member-img">
                        <a href="#"> <img src="~/content/customer/images/member/1.jpg" alt="member"></a>
                        <div class="member-content">
                            <div class="member-info">
                                <div class="title">
                                    <h3><a href="#">about me</a><span>UX Designer</span></h3>
                                </div>
                                <p>Lorem ipsum dolor text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since theypesetting industry.</p>
                                <div class="member-social">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="member-name">
                        <h3><a href="#">Auston Brown</a> <span>UX Designer</span></h3>
                    </div>
                </div>
                <div class="single-member">
                    <div class="member-img">
                        <a href="#"> <img src="~/content/customer/images/member/2.jpg" alt="member"></a>
                        <div class="member-content">
                            <div class="member-info">
                                <div class="title">
                                    <h3><a href="#">about me</a><span>UX Designer</span></h3>
                                </div>
                                <p>Lorem ipsum dolor text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since theypesetting industry.</p>
                                <div class="member-social">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="member-name">
                        <h3><a href="#">Jhon Smith</a> <span>UX Designer</span></h3>
                    </div>
                </div>
                <div class="single-member">
                    <div class="member-img">
                        <a href="#"> <img src="~/content/customer/images/member/3.jpg" alt="member"></a>
                        <div class="member-content">
                            <div class="member-info">
                                <div class="title">
                                    <h3><a href="#">about me</a><span>UX Designer</span></h3>
                                </div>
                                <p>Lorem ipsum dolor text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since theypesetting industry.</p>
                                <div class="member-social">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="member-name">
                        <h3><a href="#">Rober Mark</a> <span>UX Designer</span></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- member area end here -->

