 
@{
    Layout = "~/Views/Shared/_layoutcustomer.cshtml";
}





<div class="container">
    <div class="row">
        
         
        <div style="padding-top:100px" class="col-md-4 col-md-offset-4">
            <h2>LoginAdmin</h2>
            <h2>@ViewBag.loginerror</h2>

            <form action="/home/Logindmin" method="post">
                <div class=" form-group">
                    <label>Email</label>
                    <input name="email" type="email" class="form-control" />
                </div>

                <div class=" form-group">
                    <label>password</label>
                    <input name="password" type="password" class="form-control" />
                </div>

                <div class=" form-group">

                    <input type="submit" class="btn btn-danger" />
                </div>
            </form>
        </div>

    </div>
</div>
