


@{
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

@model E_WORKERS.Models.Table_City

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Table_City</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.City_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.City_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
